canvas {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	outline-color: white;
	outline-width: thin;
	outline-style:outset;
	outline-offset: -50px;
}
@media screen and (orientation:landscape) {
	canvas {
		padding: 50px;
		background-image: url("/svg/line.svg"), url("/svg/small line.svg"), url("/svg/dot.svg"), url("/svg/line2.svg"), url("/svg/small-line2.svg"), url("/svg/dot.svg");
		background-repeat: no-repeat;
		background-position: left 50% top 10px, left 0px top 50px, left 20px top 30px, right 50% bottom 10px, right 0px bottom 50px, right 20px bottom 30px;
		background-size: 90% 30px, 38px 30% , auto;
	  background-origin: padding-box;
	}
}
@media screen and (orientation:portrait) {
	canvas {
		padding: 50px;
		background-image: url("/svg/line.svg"), url("/svg/small line.svg"), url("/svg/line2.svg"), url("/svg/small-line2.svg");
		background-repeat: no-repeat;
		background-position: left 50% top 10px, left 0px top 50px, right 50% bottom 10px, right 0px bottom 50px;
		background-size: 90% 30px, 38px 20%;
	  background-origin: padding-box;
	}
}
.scene-nav {
	font-size: 1.15em;
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10;
	background: none;
	border: 0;
	right: 0;
	padding: 1.5em;
	color: var(--color-nav);
}



.scene-nav--prev {
	left: 0;
}

.slide-wrapper {
	display: none;
}

.icon--arrow-nav-next {
	transform: rotate(-180deg);
}

@media screen and (orientation:landscape) {
	.scene-nav{
		margin-left: 100px;
		margin-right: 100px;
	}
}
