body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@font-face {
    font-family: 'dehors_display_demoregular';
    src: url('/dehors/dehors-webfont.woff2') format('woff2'),
         url('/dehors/dehors.ttf')format('truetype'),
         url('/dehors/dehors-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.demo-2{
	background-color: #a8544c;
	height: 100vh;
	width: 100vw;

}
.background{
  background-image: url(/svg/bgoverlay.svg);
  background-repeat: repeat;
}


/* Color schemes */

.demo-2 {
	--color-text: #fff;
    --color-bg: #000;
    --color-link: #9cf9db;
    --color-link-hover: #fff;
    --color-info: #f3a145;
    --color-nav: #fff;
}





@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}



/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	fill: #fff;
}

main {
	position: relative;
	width: 100%;
}
.headings {
  display: flex;
  justify-content: center;
  align-items: center;
	padding-top: 45px;
}
.headings h1{
font-family: 'dehors_display_demoregular';
margin-left: 10px;
font-size: 35px;
margin-right: 10px;
color: #fff;
}
.stylers{
  width: 50px;
}
.rotated{
  transform: rotate(-180deg);
}

.scene {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	pointer-events: none;
	z-index: 1;
}
